.anouncements{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    height: 400px;
    overflow: hidden;
    border:var(--border);
    background-repeat: no-repeat;
    padding: 5px 10px;
    box-shadow:var(--shadow); 
    position: sticky;
    top:10vh;
}
.anouncementsHead{
    color:var(--primary);
    padding: 12px 0;
    font-size: 16px;
    text-align: center;
}
.anouncements hr{
    background-color: rgba(192, 192, 192, 0.26);
    height: 1px;
    border: none;
    margin-bottom:5px;
}
.anouncementsHolder{
    display:flex;
    flex-direction: column;
    gap: 10px;

}