.create{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
    background-color: rgba(223, 217, 217, 0.61);
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}
.createContainer{
    height: max-content;
    width: 35vw;
    padding:0px 10px 10px 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.253),-3px -3px 20px rgba(0, 0, 0, 0.253);
}
.createHead h3{
    text-align: center;
    color:black;
    font-size:20px;
    font-weight: 700;
}
.createHead{
    display: flex;
    align-items: center;
}
.createHead h3{
    flex: 7;
}
.forms{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: left;
    align-items:flex-start;
    padding: 10px 15px;
}
.postCreate{
    color:#ffffff;
    padding: 8px 0px;
    font-size: large;
    width: 95%;
    margin-top:10px;
    background-color:var(--primary);
    border-radius: 5px;
    border: 1px  solid silver;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 1px 1px 20px rgba(177, 177, 177, 0.144),-1px -1px 10px rgba(0, 0, 0, 0.129);

}
.postCreate:hover{
    background-color: blue;
    transition-duration: 0.2s;
}
.createForm div:last-child{
    justify-content: center;

}
.forms input[type='text']{
    height: 35px;
    width: 92%;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: whitesmoke;
    outline:none;
   padding:3px 8px;
   text-align: center;
}
.forms input[type='text']::placeholder{
    color:rgba(0, 0, 0, 0.616);
    font-weight: 500;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.forms input[type='text']:focus{
    border-color:var(--primary)
    }
.forms textarea{
    border-radius:3px;
    padding:8px 8px;
    resize: none;
    width: 100%;
    border: none;
    background-color: whitesmoke;
}
.forms textarea::placeholder
{
    color:rgba(0, 0, 0, 0.603);
    font-weight: 500;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.photoalbum{
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.photoalbum img{
    width: 70px;
}
.divider{
    background-color: rgba(192, 192, 192, 0.466);
    margin: 0;
    height: 1px;
    border: none;
}
.formsTitle label
{
font-size:15px;         
font-weight: 400;
margin-top:12px;
display: block;
margin-left: 10px;
}
.formsHead{
    justify-content: left;
    align-items: center;
    gap:10px;
    flex-direction: row;
}
.createForm{
    background-color: whitesmoke;
    border-radius: 8px;
}
.forms input[type=text]:focus + .forms label{
    color:whitesmoke;
}
.formsMiddle{
    display:flex;
}
.formsPost{
    width:100%;
    padding:5px 0px;
    align-items: center;
}
.createHead h3{
padding-left: 60px;
}
.addTO{
    display: flex;
    padding: 2px 10px;
    justify-content: space-between;
    width: 90%;
    border: 1px solid silver;
    border-radius: 5px;
    align-items: center;
    box-shadow: 1px 1px 1px silver;
    
}
.addImg
{
border:none;
background-color:transparent;
}
.addImg img{
    width: 35px;
    cursor:pointer;
}
.addTolabel{
    color:rgba(0, 0, 0, 0.493);
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.imgUpload
{
    background-color:white;
    width: 100%;
    border: none;
    height: 120px;  
    background-size: 100% 100%;
    border-radius: 5px;
}
.upload__image-wrapper{
    width:100%;
    border:1px solid silver;
    border-radius: 5px;
    padding:10px;
}
.dargDropLabel
{
    width:100%;
    flex-direction: column;
    align-items: center;
    gap:5px;
    display:flex;
    color: rgba(0, 0, 0, 0.705);
}
.removeButton{
    border: 1px solid silver;
    background-color: white;
    border-radius:50% ;
    display:grid;
    top:2px;
    cursor: pointer;
    position: relative;
    float: right;
    place-items: center;
    width:35px;
    height: 35px;
}