.middle{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    padding: 10px 20px;
}
.middledivs{
    background-color:rgb(255, 255, 255);
    width: 15vw;
    padding:10px 30px;
    background-position: center;
    background-size: cover;
    height: 45vh;
    display: grid;
    border:var(--border);
     box-shadow:var(--shadow);
    border-radius: 12px;
    place-items: center;
}
.middledivs:hover{
    box-shadow: 10px 10px 40px rgb(228, 226, 226);
    transform: scale(1.1);
    transition-duration: 0.5s;
    transform-style: preserve-3d;
    /* border: none; */
}
.mdivsSecond h1{
    font-weight:bold;
    font-size: 20px;
    text-align: center;
}
.mdivsSecond span{
display: block;
margin-top: 10px;
line-height: 30px;
font-size: 16px;
text-align: center;
    color:rgb(80, 78, 78);
    font-weight: 400;
}
.mdivsThird a
{
 color:rgb(0, 119, 255);
 text-decoration: none;
 font-weight: bold;
}
.mdivsFirst img
{
    width: 50px;
}